:root{
    --main-color: #4bd4fd;
}


*{
    box-sizing: border-box;
}


body{
    font-family: 'Open Sans', sans-serif;
    
}

p{
    margin: 0;
}

.container{
    /* width: 1170px; */
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
}

.clearfix{
    clear: both;
}


/* Start Bullets */
    .nav-bullets{
        position: fixed;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 40px;
        z-index: 6000;
        
    }

    .nav-bullets .bullets{
        width: 20px;
        height: 20px;
        border: 3px solid var(--main-color);;
        cursor: pointer;
        border-radius: 50%;
        margin: 13px auto;
        position: relative;
        
    }

    .nav-bullets .bullets .tooltip{
        width: 120px;
        background-color: var(--main-color);
        top: 10px;
        right: 20px;
        position: absolute;
        padding: 4px 10px;
        margin: -16px 14px 162px 0px;
        text-align: center;
        transition: all .5s ease-in-out;
        cursor: default;
        pointer-events:none;
        display: none;
    }

    .nav-bullets .bullets:hover .tooltip{
        display: block;
    }

    .nav-bullets .bullets .tooltip::before{
        content: "";
        height: 0;
        width: 0;
        position: absolute;
        border-width: 7px;
        border-style: solid;
        border-color: transparent transparent transparent var(--main-color);
        top: 50%;
        right: -14px;
        transform: translateY(-50%);

    }

/* End Bullets */



/* Start landing page */

.landing-page{
    min-height: 100vh;
    background-image: url("../images/04.jpg");
    background-size: cover;
    position: relative;
}



.landing-page .overlay{
    background-color: rgb(0, 0, 0, .6);;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}


.header-area{
    position: relative;
    color: #FFF;
    z-index: 2;
    display: flex;
    padding: 10px;
}

.header-area .logo{
    width: 500px;
    padding: 15px;
    font-weight: bold;
    font-size: 22px;
}

.header-area .container-links{
    width: 100%;
    text-align: right;
  
}

.header-area .links {
    list-style: none;
    text-align: right;
    font-size: 17.5px;
    
}

.header-area .links.open{
    width: 50%;
    position: absolute;
    background-color: #FFF;
    display: block;
    right: 0;
    top: 50px;
    text-align: left;
    border-radius: 4px; 
    padding: 10px;   
    z-index: 99999999;
}


.header-area .links.open li {
    display: block;
    margin: 10px;
}

.header-area .links.open li a {
    color: var(--main-color);
    font-weight: bold;
}


.header-area .links li {
    display: inline-block;
    padding-right: 20px;
}

.header-area .links li a {
    text-decoration: none;
    color: #FFF;
    transition: all .3s ease-in-out;
}

.header-area .links li a:hover,
.header-area .links li a.active {
    color: var(--main-color);
    
}




.intro-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #FFF;
    z-index: 1;
    text-align: center;
    width: 94%;
}


.intro-text h1 {
    font-size: 45px;
}

@media (max-width : 575px) {
    .intro-text h1 {
        font-size: 37px;
        margin-bottom: 20px;
    }

    .intro-text p {
        font-size: 10px;
    }
}


.intro-text p {
    font-size: 19px;
    
    line-height: 1.5;
    margin: 0;
    font-weight: 500;
}

.intro-text span {
    color: var(--main-color);
    font-weight: bolder;
    
}


.header-area .toggle-btn{
    background: none;
    border: none;
    width: 40px;
    cursor: pointer;
    margin-top: 16px;
    display: none;
}

.header-area .toggle-btn.menu-active::before {
    content: "";
    position: absolute;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #FFF transparent;
    bottom: 7px;
    right: 19px;
}

.header-area .toggle-btn span{
    display: block;
    background-color: #FFF;
    height: 4px;
    margin-bottom: 4px;
}

.header-area .toggle-btn:focus{
    outline: none;
}

@media (max-width : 991px){
    
    .header-area .links{
        display: none;
    }
    
    .header-area .toggle-btn{
        display: inline-block;
    }
}

/* End landing page */


/* Start About Us */

.about-us{
    padding-top: 70px;
    padding-bottom: 70px;
    display: flex;
}   


@media (max-width: 767px){
    .about-us{
      display: block;
      text-align: center;
    }  
}



.about-us .info-box{
    flex: 1;
    padding-top: 19px;
}

@media (max-width: 767px){
    .about-us .info-box{
        padding: 10px;
        margin-bottom: 30px;
    }
}


.about-us .info-box h2 {
    font-weight: bold;
    font-size : 40px;
    color: var(--main-color);
    margin: 0 0 10px;
}

@media (max-width: 767px){
    .about-us .info-box h2 {
  
        margin: 0 0 25px;
    }
}


.about-us .info-box p {
    line-height: 1.9;
    margin: 0;
    color: #767676;
    font-size: 19px;
}

.about-us .info-img {
    flex: 1;
    width: 500px;
    text-align: center;
 }   

.about-us .info-img img{
   max-width: 450px;
}    

/* End About Us */

/* Start Skill */
    .skills{
        padding-top: 70px;
        padding-bottom: 70px;
        background-color: #EEE;
        text-align: center;
    }

    .skills h2 {
        font-weight: bold;
        font-size : 40px;
        color: var(--main-color);
        margin: 0px 0 40px;
        text-align: center;
    }

    .skills .skill-box{
        background-color: #FFF;
        display: flex;
        padding: 25px;
        margin-bottom: 20px;
        border-radius: 6px;
    }

    @media (max-width: 767px){
        .skills .skill-box{
            
            display: block;
            
           
        }
    }

    .skills .skill-box .skill-name{
        font-weight: bold;
        width: 112px;
        text-align: center;
        line-height: 30px;
    }

    @media (max-width: 767px){
        .skills .skill-box .skill-name{
            width: 100%;
            margin-bottom: 20px;
        }
    }

    .skills .skill-box .skill-progress{
        height: 30px;
        background-color: #b50b0b14;
        width: 100%;
        border-radius: 10px;
        position: relative;
        border: 1px solid rgb(223, 203, 222);
    }

    .skills .skill-box .skill-progress span{   
    position: absolute;
    background-color:rgb(6, 143, 6);   
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    border-radius: 10px;
    transition: all 1s ;
    }

  


/* End Skill */

/* Start Gallery */

.gallery{
    padding-top: 70px;
    padding-bottom: 70px;
    text-align: center;
}

.gallery h2 {
    font-weight: bold;
    font-size : 40px;
    color: var(--main-color);
    margin: 0px 0 40px;
    text-align: center;
}

.gallery .images-box {
    text-align: center;
}

.gallery .images-box img {
    width: 200px;
    padding: 3px;
    border: 1px solid #CCC;
    margin: 5px;
    cursor: pointer;
}


.popup-overlay{
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;
}

.popup-box{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #FFF;
    border: 1px solid #CCC;
    padding: 20px;
    z-index: 1002;
    width: 800px;
}

.popup-box h3 {
    font-weight: bold;
    font-size : 40px;
    color: var(--main-color);
    margin: 20px 0 30px;
    text-align: center;
}

.popup-box img {max-width: 100%;}


.popup-box .close-button{
    position: absolute;
    top: -15px;
    right: -15px;
    background-color: var(--main-color);
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 20px;
    color: #FFF;
    border-radius: 50%;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;    
    cursor: pointer;
}
/* End Gallery */

/* Start Timeline */
    .timeline{
        padding-top: 70px;
        padding-bottom: 70px;
        background-color: #EEE;
        height: auto;
    }

    .timeline .timeline-content{
        position: relative;
        overflow: hidden;
    }

    

    .timeline .timeline-content::before{
        content: "";
        width: 2px;
        height: 100%;
        background-color: var(--main-color);
        position: absolute;
        left: 50%;
        margin-left: -1px;
        top: 0;
    }

    .timeline .timeline-content .year {
        margin: 20px auto;
        width: 50px;
        background-color: var(--main-color);
        text-align: center;
        padding: 2px 5px;
        color: #FFF;
        font-weight: bold;
        z-index: 2;
        border-radius: 4px;
        position: relative;
    }

    
    .timeline .timeline-content .left{float: left;}


    .timeline .timeline-content .left::before{right: -40px;}


    .timeline .timeline-content .right{float: right;}

    .timeline .timeline-content .right::before{left: -40px;}

    .timeline .timeline-content .left::before,
    .timeline .timeline-content .right::before{
        content: "";
        position: absolute;
        top: 21px;
        right: -40px;
        width: 14px;
        height: 14px;
        border: 3px solid var(--main-color);
        border-radius: 50%;
        background-color: #FFF;
    }

    .timeline .timeline-content .left,
    .timeline .timeline-content .right{
        width: calc(50% - 30px);
        margin-bottom: 40px;
        position: relative;
    }

    @media (max-width: 767px){
        .timeline .timeline-content .left,
        .timeline .timeline-content .right{
            width: 100%;
        }
        
        .timeline .timeline-content .left::before,
        .timeline .timeline-content .right::before{
             display: none;
        }


        .timeline .timeline-content .left .content::before,
        .timeline .timeline-content .right .content::before
         {
            display: none;
            }
        
    }
    


    .timeline .timeline-content .content{
        padding: 20px;
        background-color: #FFF;
    }
    .timeline .timeline-content .content h3{
    font-weight: bold;
    color: var(--main-color);
    margin: 0px 0 10px;
    }

    .timeline .timeline-content .content p {
        margin: 0;
        color: #666;
        line-height: 1.6;
    }    

    .timeline .timeline-content .left .content::before {
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent transparent #FFF;
    top: 20px;
    right: -20px;
    }

    .timeline .timeline-content .right .content::before {
        content: "";
        height: 0;
        width: 0;
        position: absolute;
        border-width: 10px;
        border-style: solid;
        border-color: transparent #FFF transparent transparent ;
        top: 20px;
        left: -20px;
        }
/* End Timeline */

/* Start Features */
    .features{
        padding-top: 85px;
        padding-bottom: 85px;
    }

    .features h2{
        font-weight: bold;
        color: var(--main-color);
        margin: 0px 0 50px;
        text-align: center;
        font-size: 40px;
    }

    .features .feat-box{
        margin-top: 50px;
        margin-bottom: 40px;
        width: calc(100% / 3);
        float: left;
        text-align: center;
    }



    @media (max-width : 991px){
        .features .feat-box{
           
            width: calc(100% / 2);
          
        }
    }


    @media (max-width : 575px){
        .features .feat-box{
           
            width: 100%;
          
        }
    }




    .features .feat-box h4 {
        font-size: 22px;
       
        margin: 25px 0 49px;
        position: relative;
    }

    .features .feat-box h4::before{
        top: 50px;      
        left: 50%;
                bottom: 50%;
                transform: translate(-50%,-50%);
        border-radius: 36px;
        content: "";
        width: 81px;
        height: 6px;
        position: absolute;
        background-color: var(--main-color);
    }

    .features .feat-box p {
        width: 80%;
        margin: 0 auto;
        line-height: 1.7;
        color: #706f6f;
    }





/* End Features */


/* Start Testimonials */
    .testimonials{
       position: relative;
       
       padding-top: 60px;
       padding-bottom: 60px;
    }

    .testimonials::before{
        content: "";
        position: absolute;
        width: 50%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: var(--main-color);
    }

    .testimonials::after{
        content: "";
        position: absolute;
        width: 50%;
        height: 100%;
        top: 0;
        right: 0;
        background-color: #333;
    }

    .testimonials h2{
        font-weight: bold;
        color: #FFF;
        margin: 0px 0 50px;
        text-align: left;
        font-size: 40px;
        position: relative;
        z-index: 2;
    }

    .testimonials .ts-box{
        position: relative;
        z-index: 2;
        width: calc(98% / 3);
        background-color: #FFF;
        font-size: 22px;
        padding: 13px;
        float: left;
        
    }

    @media (max-width : 767px) {               
        .testimonials .ts-box {
            width: 100%;
            float: none; 
            margin-bottom: 15px;
        }

        .testimonials h2{
            text-align: center;
        }
    }

    .testimonials .ts-box:not(:last-of-type){
        margin-right: 1%;
    }

    .testimonials .ts-box > p {
        line-height: 1.5;
        font-size: 19.5px;
        font-style: italic;
        color: #707070;
        margin-bottom: 20px;
        font-weight: 300;
    }

    
    .testimonials .ts-box .person-info{
      overflow: hidden;
    }

    @media (max-width : 991px) {               
        .testimonials .ts-box .person-info{
           text-align: center;
           overflow: visible;
        }
    }

    .testimonials .ts-box .person-info img {
        border-radius: 50%;
        float: left;
        margin-right: 20px;
        max-width: 100px;
    }


    @media (max-width : 991px) {               
        .testimonials .ts-box .person-info img{
          float: none;
          margin-right: 0;
        }
    }


    


   
    
    .testimonials .ts-box .person-info h4{
        
        margin: 30px 0 11px;
    }

    
    .testimonials .ts-box .person-info p {
        color: #777;
        height: 70px;
    }

.testimonials .ts-box .person-info .tst{
    transform: translateY(9px);
}
/* End Testimonials */

/* Start Contact Us */
    .contact-us{
        padding-top: 80px;
        padding-bottom: 60px;
        position: relative;
        min-height: 570px;
        background-repeat: no-repeat;
        background-size: 100% 100% ;
        background-image: url("../images/contact-us1.jpeg");
    }

    .contact-us .overlay{
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, .75);
        position: absolute;
    }

    .contact-us .container{
        position: relative;
        z-index: 2;
    }

    .contact-us h2{
        font-weight: bold;
        font-size : 40px;
        color: #496e79;
        margin: 0px 0 50px;
        text-align: center;
    }

    form {
        
        overflow: hidden;
        margin: auto;
    }

    .contact-us form .left{
        width: 49%;
        float: left;
    }

    .contact-us form .right{
        width: 49%;
        float: right;
    }

    @media (max-width : 767px) {               
        
        .contact-us form .left,
        .contact-us form .right{  
        float: none;
        width: 100%;
        }
    }

    form input, /* :not([type="submit"]) */
    form textarea{
        width: 100%;
        margin-bottom: 10px;
        padding: 18px;
        border-radius: 9px;
        border: 1px solid #CCC;
        overflow: hidden;
        background-color: rgb(230, 230, 230);
    }

    form input{height: 45px;}
    form textarea {height: 152px;}
    
    form input[type="submit"]{
        padding: 10px;
        width: 100%;
        border: transparent;
        background-color: var(--main-color);
        color: #FFF;
        cursor: pointer;
    }

    .contact-us form textarea:focus::placeholder,
    .contact-us form input:not([type="submit"]):focus::placeholder{
        opacity: 0;
        outline: none;
        transition: .3s;
    }

    .contact-us form textarea:focus,
    .contact-us form input:focus{
        outline: none;
    }


/* End Contact Us */

/* Start footer */

    footer {
        background-color: #333;
        padding: 15px;
        text-align: center;
        color: snow;
    }

/* End footer */


/* Start Grid System */                         
    @media (min-width : 576px) {               /* Phones */ 
        .container{
            max-width: 540px;
        }
    }

    @media (min-width : 768px) {                /* Tablets */ 
        .container{
            max-width: 720px;
        }
    }

    @media (min-width : 992px) {                /* Pcs */ 
        .container{
            max-width: 960px;
        }
    }

    @media (min-width : 1200px) {
        .container{
            max-width: 1140px;
        }
    }
/* End Grid System */